[submodule "external/maps-core"]
	path = external/maps-core
	url = git@github.com:openmobilemaps/maps-core.git
[submodule "external/djinni"]
	path = external/djinni
	url = git@github.com:UbiqueInnovation/djinni.git
